{% set tab = app.request.attributes.get('_route') %}
{% set opt_routing = ['client', 'course', 'otec', 'participant', 'classbook',
                      'coursematerial', 'purchaseorder', 'outsidestaff'] %}

<ul id="ul-menuprincipal" class="nav sf-js-enabled sf-shadow" style="display: block; visibility: visible;">
     <li id="m-panel" {{ route_active(tab, 'dashboard') ? 'class="sfHover"' : '' }}>
        <a href="{{ path('dashboard') }}">Panel</a>
     </li>
     <li id="m-panel" {{ route_active(tab, opt_routing) ? 'class="sfHover"' : '' }}>
       <a href="{{ path('client')}}" class="sf-with-ul">Maestros</a>
    </li>
     <li id="m-panel" {{ route_active(tab, 'empresa') ? 'class="sfHover"' : '' }}>
       <a href="{{ path('empresa')}}" class="sf-with-ul">Empresa</a>
    </li>    
</ul>