{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>PersonalExterno</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Apellidopat</th>
            <td>{{ entity.apellidoPat }}</td>
        </tr>
        <tr>
            <th>Apellidomat</th>
            <td>{{ entity.apellidoMat }}</td>
        </tr>
        <tr>
            <th>Profesion</th>
            <td>{{ entity.profesion }}</td>
        </tr>
        <tr>
            <th>Rut</th>
            <td>{{ entity.rut }}</td>
        </tr>
        <tr>
            <th>Fechanacimiento</th>
            <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Fonofijo</th>
            <td>{{ entity.fonoFijo }}</td>
        </tr>
        <tr>
            <th>Fonomovil</th>
            <td>{{ entity.fonoMovil }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion }}</td>
        </tr>
        <tr>
            <th>Estado</th>
            <td>{{ entity.estado }}</td>
        </tr>
        <tr>
            <th>Institucionestudios</th>
            <td>{{ entity.institucionEstudios }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('outsidestaff') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('outsidestaff_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('outsidestaff_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
