{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>Listado Cliente</h1>

<table class="listado">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo</th>
            <th>Descripcion</th>
            <th>Razonsocial</th>
            <!--<th>Fechafundacion</th>-->
            <th>Direccion</th>
            <th>Fonofijo</th>
            <th>Fonomovil</th>
            <th>Email</th>
            <!--<th>Sucursal</th>
            <th>Nombreencargado</th>
            <th>Nombrecomercial</th>
            <th>Reprelegal</th>
            <th>Reprerut</th>
            <th>Reprenombre</th>
            <th>Reprefono</th>
            <th>Repredireccion</th>-->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <!--<td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
            <td align="center">{{ entity.nombre }}</td>
            <td align="center">{{ entity.apellido }}</td>
            <td align="center">{{ entity.tipo }}</td>
            <td align="center">{{ entity.descripcion }}</td>
            <td align="center">{{ entity.razonSocial }}</td>
            <!--<td align="center">{% if entity.fechaFundacion %}{{ entity.fechaFundacion|date('d-m-Y') }}{% endif %}</td>-->
            <td align="center">{{ entity.direccion }}</td>
            <td align="center">{{ entity.fonoFijo }}</td>
            <td align="center">{{ entity.fonoMovil }}</td>
            <td align="center">{{ entity.email }}</td>
            <!--<td>{{ entity.sucursal }}</td>
            <td>{{ entity.nombreEncargado }}</td>
            <td>{{ entity.nombreComercial }}</td>
            <td>{{ entity.repreLegal }}</td>
            <td>{{ entity.repreRut }}</td>
            <td>{{ entity.repreNombre }}</td>
            <td>{{ entity.repreFono }}</td>
            <td>{{ entity.repreDireccion }}</td>-->
            <td align="left" width="10%">
                <ul>
                    <li>
                        
                        <a href="{{ path('client_show', { 'id': entity.id }) }}">Ver</a>
                    &nbsp;&nbsp;
                    
                        <a href="{{ path('client_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('client_new') }}">
            Nuevo Registro
        </a>
    </li>
</ul>
{% endblock %}