{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>Listado Otec</h1>

<table class="listado">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Nombre otec</th>
            <th width="8%">Rut</th>
            <th>Razón social</th>
            <th>Rep. legal</th>
            <th width="8%">Rep. rut</th>
            <th width="7%">Rep. fono</th>
            <!--<th>Giro</th>-->
            <th width="20%">Direccion</th>
            <!--<th>Email contacto</th>
            <th>Contacto</th>-->
            <th width="10%">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <!--<td><a href="{{ path('otec_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
            <td align="center">{{ entity.nombreOtec }}</td>
            <td align="center">{{ entity.rut }}</td>
            <td align="center">{{ entity.razonSocial }}</td>
            <td align="center">{{ entity.repreLegal }}</td>
            <td align="center">{{ entity.repreRut }}</td>
            <td align="center">{{ entity.repreFono }}</td>
            <!--<td align="center">{{ entity.giro }}</td>-->
            <td align="center">{{ entity.direccion }}</td>
            <!--<td align="center">{{ entity.emailContacto }}</td>
            <td align="center">{{ entity.contacto }}</td>-->
            <td width="10%">
                <ul>
                    <li>
                        <a href="{{ path('otec_show', { 'id': entity.id }) }}">Ver</a>
                        &nbsp;&nbsp;
                        <a href="{{ path('otec_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('otec_new') }}">
            Nuevo Registro
        </a>
    </li>
</ul>
{% endblock %}