<h1>Otec</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombreotec</th>
            <td>{{ entity.nombreOtec }}</td>
        </tr>
        <tr>
            <th>Rut</th>
            <td>{{ entity.rut }}</td>
        </tr>
        <tr>
            <th>Razonsocial</th>
            <td>{{ entity.razonSocial }}</td>
        </tr>
        <tr>
            <th>Reprelegal</th>
            <td>{{ entity.repreLegal }}</td>
        </tr>
        <tr>
            <th>Reprerut</th>
            <td>{{ entity.repreRut }}</td>
        </tr>
        <tr>
            <th>Reprefono</th>
            <td>{{ entity.repreFono }}</td>
        </tr>
        <tr>
            <th>Giro</th>
            <td>{{ entity.giro }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion }}</td>
        </tr>
        <tr>
            <th>Emailcontacto</th>
            <td>{{ entity.emailContacto }}</td>
        </tr>
        <tr>
            <th>Contacto</th>
            <td>{{ entity.contacto }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('otec') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('otec_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('otec_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
