{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>Listado Libro de Clases</h1>

<div style="width:70%">
<table class="listado">
    <thead>
        <tr>
            <th>Id</th>
            <th width="75%">Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('classbook_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.descripcion }}</td>
            <td align="left">
                <ul>
                    <li>
                        <a href="{{ path('classbook_show', { 'id': entity.id }) }}">Ver</a>
                        &nbsp;&nbsp;
                        <a href="{{ path('classbook_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('classbook_new') }}">
            Crear Nuevo Registro
        </a>
    </li>
</ul>
        </div>
{% endblock %}