{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>Edicion Curso</h1>

<form action="{{ path('course_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
    <fieldset>
         <legend>Editar Curso</legend>
         {% include 'TipddyOmsBundle:Curso:_form.html.twig' %}
    </fieldset>                    
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('course_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}

            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
