{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>Listado Participante</h1>

<table class="listado">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Nombre</th>
            <th>Ap. Paterno</th>
            <th>Ap. Materno</th>
            <th width="8%">Rut</th>
            <th width="10%">Fecha Nac.</th>
            <th>Dirección</th>
            <th width="10%">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <!--<td><a href="{{ path('participant_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellidopat }}</td>
            <td>{{ entity.apellidomat }}</td>
            <td>{{ entity.rut }}</td>
            <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.direccion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('participant_show', { 'id': entity.id }) }}">Ver</a>
                        &nbsp;&nbsp;
                        <a href="{{ path('participant_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('participant_new') }}">
            Nuevo Registro
        </a>
    </li>
</ul>
{% endblock %}
