{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>OrdenCompra edit</h1>

<form action="{{ path('purchaseorder_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {#{ form_widget(form) }#}
       <fieldset>
             <legend>Edición Orden</legend>
            {% include 'TipddyOmsBundle:OrdenCompra:_form.html.twig' %}
        </fieldset>                
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('purchaseorder') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('purchaseorder_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
 
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
