{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>Lostado Orden de Compra</h1>

<table class="listado">
    <thead>
        <tr>
            <!--<th>Id</th>-->
            <th>Codigointerno</th>
            <th>Valor Participante</th>
            <th>Valor Total</th>
            <th>Num. Otic</th>
            <th>Num. Participante</th>
            <th>Cod. Sence</th>
            <th>Forma Pago</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <!--<td><a href="{{ path('purchaseorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
            <td>{{ entity.codigoInterno }}</td>
            <td>{{ entity.valorParticipante }}</td>
            <td>{{ entity.valorTotal }}</td>
            <td>{{ entity.numOtic }}</td>
            <td>{{ entity.numParticipante }}</td>
            <td>{{ entity.codSence }}</td>
            <td>{{ entity.formaPago }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('purchaseorder_show', { 'id': entity.id }) }}">Ver</a>
                        &nbsp;&nbsp;    
                        <a href="{{ path('purchaseorder_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('purchaseorder_new') }}">
            Nuevo Registro
        </a>
    </li>
</ul>
{% endblock %}