{% extends 'TipddyOmsBundle::layout.html.twig' %}

{% block body %}
<h1>OrdenCompra</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Codigointerno</th>
            <td>{{ entity.codigoInterno }}</td>
        </tr>
        <tr>
            <th>Valorparticipante</th>
            <td>{{ entity.valorParticipante }}</td>
        </tr>
        <tr>
            <th>Valortotal</th>
            <td>{{ entity.valorTotal }}</td>
        </tr>
        <tr>
            <th>Numotic</th>
            <td>{{ entity.numOtic }}</td>
        </tr>
        <tr>
            <th>Numparticipante</th>
            <td>{{ entity.numParticipante }}</td>
        </tr>
        <tr>
            <th>Codsence</th>
            <td>{{ entity.codSence }}</td>
        </tr>
        <tr>
            <th>Formapago</th>
            <td>{{ entity.formaPago }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('purchaseorder') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('purchaseorder_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('purchaseorder_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
